absl-py==2.1.0
asgiref==3.5.0
attrs==24.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
click==8.1.2
contourpy==1.3.1
cycler==0.12.1
dnspython==2.2.1
email-validator
Flask==2.1.1
Flask-Bcrypt==1.0.1
Flask-Login==0.6.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
flatbuffers==24.3.25
fonttools==4.55.0
gunicorn==23.0.0
idna
importlib-metadata==4.11.3
itsdangerous==2.1.2
jax==0.4.35
jaxlib==0.4.35
Jinja2==3.1.1
kiwisolver==1.4.7
MarkupSafe==2.1.1
matplotlib==3.9.2
mediapipe==0.10.18
ml_dtypes==0.5.0
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt_einsum==3.4.0
packaging==24.2
pillow==11.0.0
protobuf==4.25.5
pycparser==2.21
pygame==2.6.0
pyparsing==3.2.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests
scipy==1.14.1
sentencepiece==0.2.0
six==1.16.0
sounddevice==0.5.1
soupsieve==2.6
SQLAlchemy==1.4.35
sqlparse==0.4.2
typing_extensions==4.12.2
urllib3==1.26.6
Werkzeug==2.1.1
WTForms==3.0.1
zipp==3.8.0
