<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitter US Airline Sentiment</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="https://d3js.org/d3.v7.min.js"></script>
  </head>
  <body>
    <h1>
      Twitter US Airline Sentiment Confidence (ascending order)
    </h1>

    <div class="nav-container">
        <a href="{{ url_for('advanced') }}" class="btn">Sortable Table</a>
        <a href="{{ url_for('creative') }}" class="btn">Bubble Chart</a>
        <a href="{{ url_for('index') }}" class="btn">Home Page</a>
    </div>

    <div id="page-wrap"></div>

   <script src="/static/js/filtered_table.js"></script>

  </body>
</html>